name: 'PR Main Workflow'

on:
  pull_request:
    branches: ['main']

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  call-test-workflow:
    name: 'Run CI'
    uses: ./.github/workflows/ci.yaml
